.dashboard {
  min-height: 65vh;
  background: #f4f6f8;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e1e2f;
  color: white;
  padding: 25px 30px;
}

.profile-icon {
  font-size: 40px;
  cursor: pointer;
}
/* CREATE EXAM BUTTON BAR */
.exam-action-bar {
  display: flex;
  justify-content: flex-start;
  max-width: 1000px;
  margin: 0 auto 40px;
  padding: 0 42px;
}

.create-exam-btn {
  display: flex;
  align-items: center;
  gap: 10px;

  background: #2563eb;
  color: white;
  padding: 12px 20px;

  border: none;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 600;

  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 6px 16px rgba(0,0,0,0.12);
}

.create-exam-btn:hover {
  background: #1e40af;
  transform: translateY(-2px);
}

.create-exam-btn:active {
  transform: scale(0.97);
}


.exam-list-page {
  min-height: calc(100vh - 160px); /* header + footer space */
  background: #f5f6f8;
  padding: 60px 20px;
}

.page-title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 50px;
  color: #222;
}

.exam-card-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
.category-box {
  width: 300px;
  height: 200px;
  background: white;
  border-radius: 18px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  text-align: center;
  cursor: pointer;
  padding: 40px 20px;
  transition: 0.3s;
}

.category-box:hover {
  transform: translateY(-8px);
}

.category-box.active {
  border: 2px solid #4caf50;
}

.category-box h3 {
  margin-bottom: 10px;
}
