.site-footer {
  background: #0f172a;
  color: #e5e7eb;
  /* margin-top: 60px; */
  position: static;
  bottom: 0%;
  width: 100%;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 50px 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 40px;
}

.footer-section h3 {
  font-size: 22px;
  margin-bottom: 14px;
  color: #ffffff;
}

.footer-section h4 {
  font-size: 18px;
  margin-bottom: 12px;
  color: #ffffff;
}

.footer-section p {
  font-size: 15px;
  line-height: 1.6;
  color: #cbd5f5;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
  font-size: 15px;
  cursor: pointer;
  color: #cbd5f5;
  transition: 0.3s;
}

.footer-section ul li:hover {
  color: #6366f1;
  padding-left: 5px;
}

.social-icons {
  margin-top: 16px;
  display: flex;
  gap: 14px;
}

.social-icons i {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #1e293b;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.social-icons i:hover {
  background: #6366f1;
  transform: translateY(-3px);
}


.footer-bottom {
  background: #020617;
  text-align: center;
  padding: 14px;
  font-size: 14px;
  color: #94a3b8;
}

@media (max-width: 768px) {
  .footer-container {
    padding: 40px 20px;
  }

  .footer-section h3 {
    font-size: 20px;
  }
}
